
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background : url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5ijv8Skx6yOSsFeP_UTtTpRQWqCeUsSCwSQ&s);
    text-align: center;
    background: cover;

  }
  h1{
       color: whitesmoke;
  } 
  .container {
    height: 70vh;
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  .tic{
    border-radius: 20px;
    height: 445px;
    width: 445px;
    background-color: #4242407d;
}
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 10vmin;
    color: #b03e92;
    background-color: black;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.55rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    border: none;
    display: inline-block;

  }
  #reset-btn:hover{
  background-color: aqua;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }
  